.idea
.run
.vscode
report.*.json

*.tsbuildinfo
dist
dist-tests
dist-adapters
build

node_modules

package-lock.json
pnpm-lock.yaml
.DS_Store
pnpm-*.log*
.pnpm-*.log*
npm-debug.log*

logs
*.log
__data

.eslintcache
